{% extends 'base.html' %}
{% load i18n %}


{% block content %}

        <h1 class="my-4">{% translate 'Labels' %}</h1>

        <a class="nav-link" href="{% url 'create_label' %}">{% translate 'Create label' %}</a>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>{% translate 'Name' %}</th>
                    <th>{% translate 'Date of creation' %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for label in labels %}
                    <tr>
                        <td>{{ label.pk }}</td>
                        <td>{{ label.name }}</td>
                        <td>{{ label.created_at|date:"d.m.Y" }} {{ label.created_at|date:"H:i" }}</td>
                        <td>
                            <a href="{% url 'update_label' label_id=label.pk %}">{% translate 'Change' %}</a>
                            <br>
                            <a href="{% url 'delete_label' label_id=label.pk %}">{% translate 'Delete' %}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock %}